main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url('../images/login_background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}

main .form{
    width: 350px;
    height: 350px;
    background: rgb(15, 15, 15);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

main .form::before{
    content: '';
    position: absolute;
    width: 350px;
    top: -50%;
    left: -50%;
    height: 350px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#ff017f ,#ff017f);
    animation: animate 6s linear infinite;
}

main .form::after{
    content: '';
    position: absolute;
    width: 350px;
    top: -50%;
    left: -50%;
    height: 350px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#04f2f9,#04f2f9);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}


main .form .container{
    position: absolute;
    inset: 2px;
    border-radius: 10px;
    background-color: black;
    z-index: 10;

    padding: 0px 20px;
}

main .form .container .logo{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

main .form .container .logo img{
    height: 30px;
}

main .form .container h3{
    margin-top: 20px;
    text-align: center;
    color: white;
}

main .form .container form input{
width: 100%;
height: 30px;
margin-top: 10px;
color: orange;
background-color: black;
padding: 0px 10px;
border: none;
border-radius: 3px;
border-bottom: 1px solid rgb(98, 98, 98);
}
main .form .container form input:focus{
    border-bottom: 1px solid orange;
    outline: none;
}

main .form .container form img{
    width: 20px;
    height: auto;
    cursor: pointer;
}
main .form .container form  #img2a{
    display: none;
}

main .form .container form  #img2,#img2a{
    margin-top: 15px;
    right: 30px;
    position: absolute;
}


main .form .container form .loginbtn{
    background:linear-gradient(90deg,orange,rgb(255, 77, 0));
    border-bottom: none;
    color: white;
    font-size: 15px;
    height: 40px;
    border-radius: 8px;
}
main .form .container form .btn1{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: none;
    margin: 0px 0px;
    height: 40px;
}

main .form .container form p{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
main .form .container form .btn1 .requestbtn{
    border-bottom: none;
    color: white;
    width: 100%;
    background:linear-gradient(90deg,#04f2f9,#104b85);
    margin-top: 10px;
    font-size: 15px;
    height: 40px;
    border-radius: 8px;
}

main .form .container form .btn1 .requestbtn a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
main .form .container form .loginbtn:hover{
    border:2px solid rgb(255, 77, 0);
    background-color: black;
}

main .form .container form .registerbtn a{
    color: orange;
    font-size: 15px;
}

main .form .container .error{
    color:red;
    text-align: center;
    margin-top: 20px;
    
}

/*request form*/
main .form1{
    width: 500px;
    height: 500px;
    background: rgb(15, 15, 15);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

main .form1::before{
    content: '';
    position: absolute;
    width: 500px;
    top: -50%;
    left: -50%;
    height: 500px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#ff017f ,#ff017f);
    animation: animate 6s linear infinite;
}

main .form1::after{
    content: '';
    position: absolute;
    width: 500px;
    top: -50%;
    left: -50%;
    height: 500px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#04f2f9,#04f2f9);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}


main .form1 .container{
    position: absolute;
    inset: 2px;
    border-radius: 10px;
    background-color: black;
    z-index: 10;

    padding: 0px 50px;
}

main .form1 .container .logo{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

main .form1 .container .logo img{
    height: 30px;
}

main .form1 .container h3{
    margin-top: 20px;
    text-align: center;
    color: white;
}
main .form1 .container form label{
    color: orange;
}

main .form1 .container form div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

main .form1 .container form div .id{
    width: 140px;
    display: block;
    margin-right: 30px;
    
}
main .form1 .container form div div{
    display: block;
}

main .form1 .container form div input{
    margin-top: 0px;
}
main .form1 .container form input{
width: 100%;
height: 25px;
color: orange;
margin-bottom: 20px;
background-color: black;
padding: 0px 10px;
border: none;
border-radius: 3px;
border-bottom: 1px solid rgb(98, 98, 98);
}
main .form1 .container form input:focus{
    border-bottom: 1px solid orange;
    outline: none;
}

main .form1 .container form img{
    width: 20px;
    height: auto;
    cursor: pointer;
}
main .form1 .container form  #img1a{
    display: none;
}

main .form1 .container form  #img1,#img1a{
    margin-top: 3px;
    right: 50px;
    position: absolute;
}


main .form1 .container form .btn1{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: none;
    margin: 0px 0px;
    height: 40px;
    position: relative;
}

main .form1 .container form .btn1 .loginbtn{
    background:linear-gradient(90deg,orange,rgb(255, 77, 0));
    border-bottom: none;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    height: 40px;
    width: 160px;
    border-radius: 8px;
}
main .form1 .container form .btn1 .loginbtn a{
    font-size: 15px;
    color: white;
    text-decoration: none; 
}
main .form1 .container form .btn1 .requestbtn{
    background:linear-gradient(90deg,#04f2f9,#104b85);
    border-bottom: none;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    height: 40px;
    width: 160px;
    border-radius: 8px;
}

main .form1 .container form .loginbtn:hover{
    border:2px solid rgb(255, 77, 0);
    background-color: black;
}

main .form1 .container form .registerbtn a{
    color: orange;
    font-size: 15px;
}

main .form1 .container form p{
    color: white;
    margin: 28px 0px 0px 0px;
    text-align: center;
    font-size: 14px;
}
/*key frames*/
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}